// _mixins.scss

@mixin visuallyhidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin clearfix() {
	content: "";
	display: table;
	clear: both;
}

@mixin col1-1() {
	width: 100%;
	float: left;
	padding-left: 1.25em;
}

@mixin col1-2() {
	width: 50%;
	float: left;
	padding-left: 1.25em;
}

@mixin col1-3() {
	width: 33.3333%;
	float: left;
	padding-left: 1.25em;
}
